
<div class="container ">
  <div class="row shadow  mb-5 bg-body rounded-3">
    <div class="col ">
      <%= image_tag @task.task_image, size: "500x500" ,class:"m-3 rounded-circle " %>
    </div>
    <div class="col ">
      <div class="position">
        <div class="point">
          <%= link_to edit_task_path(@task.id) do %>
          <i class="fas fa-edit fa-2x m-2"></i>
          <% end %>
          <%= link_to task_path(@task.id),method: :delite,data: { confirm: '削除してよろしいですか?' } do%>
          <i class="fas fa-trash-alt fa-2x m-2"></i>
          <% end %>
        </div>
      </div>
      <div class="row m-4">
        <div class="col p-5">
          <div class="m-5"><H4 class=""><strong><%= @task.task_place %></strong></h4></div>
          <div class="m-2"><h5 class=""><%= @task.title_task  %></h5></div>
          <div class="m-2"><P class=""><%= @task.content %></P></div>
        </div>
      </div>
    </div>
 </div>
</div>
