<div class="container">
  <div class="row">
    <div class="col"><% if @users_follower.exists? %>
          <% @users_follower.each do |follower| %>
            <table>
              <thead>
                <tr>
                  <th>name</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= follower.nickname %></td>
                  <td>フォロー数: <%= follower.follower_user.count %></td>
                  <td>フォロワー数: <%= follower.following_user.count %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
    </div>
    <div class="col">
              <% if @users_followed.exists? %>
             <%= @users_followed.count %>
          <% @users_followed.each do |followed| %>
            <table>
              <thead>
                <tr>
                  <th>name</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= followed.nickname %></td>
                  <td>フォロー数: <%= followed.follower_user.count %></td>
                  <td>フォロワー数: <%= followed.following_user.count %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
    </div>
  </div>
</div>
