<div class="container">
  <div class="row ">
    <% if @users_follower.exists? %>
        <%= @users_follower.count %>人フォロワー
          <% @users_follower.each do |follower| %>
             <div class="col ">
               <div class="card p-0 mx-auto border shadow-lg d-flex justify-content-center ">
        <div class="row g-0 ">
          <div class="col-md-2 ps-5">
            <%= image_tag follower.get_profile_image ,size: "50x50",class:"rounded-circle m-2 "%>
          </div>
          <div class="col-md-4 my-4"><P class="text-center m-0 p-0"><%= follower.nickname %>さん</P></div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="card-body p-0">
              <p class="card-text m-0 p-0"><small>フォロー数:</small><%= follower.follower_user.count %></p>
              <p class="card-text m-0 p-0"><small>フォロワー数:</small><%= follower.following_user.count %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class=" my-4 mx-0 p-0"><%= render 'relationships/follow_botton', user: follower %></div>
          </div>
        </div>
      </div>
 
          <% end %>
        <% else %>
        <div class="col "><p>ユーザーはいません</p></div>
        <% end %>
    </div>
    
   
              <% if @users_followed.exists? %>
             <%= @users_followed.count %>人フォロー中
          <% @users_followed.each do |followed| %>
          <div class="col-6 ">
               <div class="card p-0 mx-auto border shadow-lg d-flex justify-content-center ">
        <div class="row g-0 ">
          <div class="col-md-2 ps-5">
            <%= image_tag followed.get_profile_image ,size: "50x50",class:"rounded-circle m-2 "%>
          </div>
          <div class="col-md-4 my-4"><P class="text-center m-0 p-0"><%= followed.nickname %>さん</P></div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="card-body p-0">
              <p class="card-text m-0 p-0"><small>フォロー数:</small><%= followed.following_user.count %></p>
              <p class="card-text m-0 p-0"><small>フォロワー数:</small><%= followed.follower_user.count %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class=" my-4 mx-0 p-0"><%= render 'relationships/follow_botton', user: followed %></div>
          </div>
        </div>
      </div>
          <% end %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
    </div>
  
</div>
</div>
