<div class="container w-50">
  <h3 class="text-center">通知</h3>
  <div class="row">

    <%= link_to destroy_all_notifications_path, method: :delete do %>
        <i class="fas fa-trash" style="color: black;"></i>
        <h7 style="color: black;">全削除</h7>
        <% end %>
    <div class="col d-flex justify-content-center w-50">



  <% @notifications = @notifications.where.not(visiter_id: current_user.id) %>
        <% if @notifications.exists? %>
        <% @notifications.each do |notification| %>
        <% visiter = notification.visiter %>
        <% visited = notification.visited %>
  <div>
      <%=link_to user_path(visiter) do %>
          <%= visiter.nickname %> さんが
          <% end %>
      <% case notification.action %>
       <% when 'follow' then %>
          あなたをフォローしました
          
        <% when 'like' then %>

         <%= link_to 'あなたの投稿', notification.post_image, style: "font-weight: bold;"%> にいいねしました
          <% when 'comment' then %>
        <% if notification.post_image.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.post_image, style: "font-weight: bold;"%>
        <% else %>
             <strong>
               <%= link_to notification.post_image do %>
                   <%=notification.post_image.user.nickname  %>の投稿
               <% end %>
             </strong>

        <% end %>
                 にコメントしました
           <p><%= PostComment.find_by(id: notification.post_comment_id)&.comment %></p>
         <% end %>
        <%= time_ago_in_words(notification.created_at).downcase %>

      <% end %>

   <% else %>
    <p>通知はありません</p>

  </div>
   <% end %>
<%= paginate @notifications, theme: 'bootstrap-5' %>




    </div>
  </div>
</div>


