<% if users_followed.exists? %>
    <p class="text-center"><span id="btn-b<%= current_user.id %>"><%= users_followed.count %></span>人フォロー中</p>
  <% users_followed.each do |followed| %>
    <div class="card p-0 mx-auto border shadow-lg d-flex justify-content-center ">
      <div class="row g-0 p-0 ">
        <div class="col-md-2 ps-5 d-flex align-items-center">
         <%= render 'users/user_link',user: followed %>
        </div>
        <div class="col-md-4 d-flex align-items-center"><P class="text-center m-0 p-0"><%= followed.nickname %>さん</P></div>

        <div class="col-md-3 d-flex align-items-center">
          <div class="card-body p-0">
            <p class="card-text m-0 p-0"><small>フォロー:</small><span id="btn-a<%= followed.id %>"><%= followed.following_user.count %></span></p>
            <p class="card-text m-0 p-0"><small>フォロワー:</small><span id="btn-b<%= followed.id %>"><%= followed.follower_user.count %></span></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class=" my-4 mx-0 p-0">
            <div id="follow_button<%= followed.id %>">
            <%= render 'relationships/follow_button',user: followed %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>