<%= form_with model:day_task, local: false do |f| %>
  <div id="day_task-error">
    <%= render 'layouts/error_message', model: f.object %>
  </div>
  <div class="field ">
    <%= f.label :"タスク" %><br/>
    <%= f.text_field :task_contents ,autofocus: true ,autocomplete: "title",class:"form-control" %><br/>
  </div>
  <div class="field">
    <%= f.label :"開始時間" %>
    <%= f.time_select :start_time,class: 'form-control' %>
    <%= f.label :"終了時間" %>
    <%= f.time_select :end_time,class: "form-control" %>
  </div>
    <%= f.hidden_field :schedule_day_id,:value => schedule_day.id %>
  <div class="d-flex justify-content-center">
    <%= f.submit '作成',class:"btn btn-primary rounded-pill m-3 " %>
  </div>
<% end %>