<div class="container ">
  <div class="row shadow  mb-5 bg-body rounded-3">
    <div class="col ">
      <%= image_tag @post_image.get_image, size: "500x500" ,class:"m-3 rounded-circle " %>
    </div>
    <div class="col pt-3">

      <div class="position">
        <div class="point d-flex align-items-center">
          <% if @post_image.user == current_user %>
              <%= link_to edit_post_image_path(@post_image.id) do %>
              <i class="fas fa-edit fa-2x m-2"></i>
              <% end %>
              <%= link_to post_image_path(@post_image.id), method: :delete ,data: { confirm: '削除してよろしいですか?' }  do %>
              <i class="fas fa-trash-alt fa-2x m-2"></i>
              <% end %>
          <% else %>
              <%= render 'likes/likes_botton',post_image: @post_image%>

              <%= render 'relationships/follow_botton',user: @post_image.user%>
          <% end %>
        </div>

      </div>


        <div class="row mt-5">
          <div class="col-2">
             <%= link_to  user_path(@post_image.user.id) do %>
             <%= image_tag @post_image.user.get_profile_image,size:'50x50',class:"rounded-circle" %>
             <% end %>
          </div>
          <div class="col-10">
            <p class="m-0 p-0"><%= @post_image.user.nickname %>さん</p>
            <p class="m-0 p-0">フォロワー：<%= @post_image.user.follower_user.count %></p>
          </div>
        </div>

          <div class="row h-25">
            <div class="col">
              <div class=""><h4><%= @post_image.title %></h4></div>
              <div class="m-2"><P><%= @post_image.introduction %></P></div>
            </div>
            </div>

         <div class="row">
           <div class="col">
              <div class="box m-2">
                <%= render 'post_comments/post_comments',post_image: @post_image %>
              </div>
              <p class="m-2">アイデアについて質問をしたり、感想を伝えましょう！</p>
                <div class="">
                  <%= render 'post_comments/post_comments_form',post_image: @post_image,post_comment: @post_comment %>
           </div>
          </div>

    </div>
  </div>
</div>
