<div class="container ">
  <div class="row shadow  mb-5 bg-body rounded-3">
    <div class="col ">
      <%= image_tag @post_image.get_image, size: "500x500" ,class:"m-3 rounded-circle " %>
    </div>
    <div class="col pt-3">

      <div class="position">
        <div class="point d-flex align-items-center">
          <% if @post_image.user == current_user %>
              <div id="likes_button<%= @post_image.id %>">
                <%= render 'likes/likes_button',post_image: @post_image%>
              </div>

              <%= link_to edit_post_image_path(@post_image.id) do %>
              <i class="fas fa-edit fa-2x m-2"></i>
              <% end %>
              <%= link_to post_image_path(@post_image.id), method: :delete ,data: { confirm: '削除してよろしいですか?' }  do %>
              <i class="fas fa-trash-alt fa-2x m-2"></i>
              <% end %>

          <% else %>
              <div id="likes_button<%= @post_image.id %>">
                <%= render 'likes/likes_button',post_image: @post_image%>
              </div>

               <div id="follow_button<%= @post_image.user.id %>">
                 <%= render 'relationships/follow_button',user: @post_image.user%>
               </div>

              <%= render 'tasks/task_botton',task: @task ,post_image: @post_image %>
          <% end %>
        </div>

      </div>


        <div class="row mt-4 mb-1">
          <div class="col-1 p-0 d-flex align-items-center">
            <%= render 'users/user_link',user: @post_image.user %>
          </div>
          <div class="col-11 p-2 ">
            <p class="m-0 p-0 text-left"><%= @post_image.user.nickname %>さん</p>
            <p class="m-0 p-0 text-left">フォロワー：<span id="btn-b<%= @post_image.user.id %>"><%= @post_image.user.follower_user.count %></span></p>
          </div>
        </div>

          <div class="row ">
            <div class="col">
              <div class=""><h5 class="text-break"><%= @post_image.title %></h5></div>
              <div class="d-inline-flex mr-2 d-flex align-items-center">
                <%=render 'post_images/post_image_star',post_image: @post_image %>
              </div>
              <div class="d-inline-flex d-flex align-items-center">
                <i class="fas fa-tag "></i>
                <% @post_image.tags.each do |tag| %>
                  <%=link_to tag.name,search_tag_path(tag_id: tag.id),class:"text-lowercase m-1" %>
                <% end %>
              </div>


               <div class="m-2"><P class="text-break"><%= @post_image.place %></P></div>
              <div class="m-2"><P class="text-break"><small class="text-muted"><%= @post_image.introduction %></small></P></div>
            </div>
            </div>

         <div class="row">
           <div class="col">
              <div class="box m-2">
                <div id="comments_index">
                  <%= render 'post_comments/post_comments',post_image: @post_image %>
                </div>
              </div>
              <p class="m-2">風景について質問をしたり、感想を伝えましょう！</p>
                <div class="">
                  <%= render 'post_comments/post_comments_form',post_image: @post_image,post_comment: @post_comment %>
                </div>
          </div>
    </div>
  </div>
</div>
