<div class="container ">
  <div class="row shadow  mb-5 bg-body rounded-3">
    <div class="col ">
      <%= image_tag @post_image.get_image, size: "500x500" ,class:"m-3 rounded-circle " %>
    </div>
    <div class="col ">
      <div class="position">
        <div class="point">
          <%= render 'likes/likes_botton',post_image: @post_image%>
          <% if @post_image.user == current_user %>
              <%= link_to edit_post_image_path(@post_image.id),class:"text-dark " do %>
                <i class="fa-solid fa-ellipsis fa-2x m-2"></i>
              <% end %>

              <%= link_to post_image_path(@post_image.id), method: :delete ,data: { confirm: '削除してよろしいですか?' } ,class:"text-dark" do %>
              <i class="fa-regular fa-trash-can fa-2x m-2"></i>
              <% end %>
            <% end %>
        </div>
      </div>
          <div class="m-2"><H4><strong><%= @post_image.user.nickname %></strong></h4></div>
          <div class="m-2"><h5><%= @post_image.title %></h5></div>
          <div class="m-2"><P><%= @post_image.introduction %></P></div>
          <div class="box">
            <%= render 'post_comments/post_comments',post_image: @post_image %>
          </div>
          <p class="m-2">アイデアについて質問をしたり、感想を伝えましょう！</p>
            <div class="">
              <%= render 'post_comments/post_comments_form',post_image: @post_image,post_comment: @post_comment %>

    </div>
  </div>
</div>
