<!DOCTYPE html>
<html>
  <head>
    <title>LandscapeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid mb-5">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
          <% if user_signed_in? %>
              <a class="navbar-brand" href="/"><%= image_tag'logo.png',size:"60x60" ,class:"rounded-circle "%> </a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

              <li class="nav-item mr-2">
                <%= link_to 'Home', post_images_path,class:"nav-link active " %>
              </li>
              <li class="nav-item mr-2">
                <%= link_to '新規投稿', new_post_image_path,class:"nav-link active " %>
              </li>
              <li class="nav-item">
                <%= link_to "TODOリスト",task_list_user_path(current_user.id),class:"nav-link " %>
              </li>
              <li class="nav-item">
               <%= link_to "NOTICE", notifications_path, class:"nav-link active " %>
              </li>
              <li class="nav-item">
                <%= link_to 'follow',user_follow_path(current_user.id), class:"nav-link active "%>
              </li>
              <li class="nav-item">
                  <%= form_with url: search_post_images_path,class: "d-flex", method: :get, local: true do |f| %>
                  <%= f.text_field :keyword ,class:"form-control me-2",type:"search"%>
                  <%= f.submit :search,class:"btn btn-outline-success",type:"submit" %>
                  <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
              <li class="nav-item">
                <%= link_to "user", user_path(current_user.id) %>
              </li>
        <% else %>
              <a class="navbar-brand"><%= image_tag'logo.png',size:"60x60" ,class:"rounded-circle "%> </a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item mr-3">
                <%= link_to "ログイン",new_user_session_path,class:"p-3 mb-2 bg-danger text-white rounded-pill" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "無料登録",new_user_registration_path, class:"p-3 mb-2 bg-light text-dark rounded-pill"%>
              </li>
              <li class="nav-item">

              </li>
              <li class="nav-item">

              </li>
        <% end %>
      </ul>


    </div>
  </div>
</nav>

     <main>
     <%= yield %>
   </main>

  </body>
</html>
