<!DOCTYPE html>
<html>
  <head>
    <title>LandscapeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid mb-5">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><%= image_tag'logo.png',size:"60x60" ,class:"rounded-circle "%> </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= if user_signed_in? %>
          <%= link_to 'Home', post_images_path,class:"nav-link active " %>
        </li>
        <li class="nav-item">
          <%= link_to "TODOリスト",tasks_path,class:"nav-link " %>
        </li>
        <li class="nav-item">
          <a class="nav-link ">Disabled</a>
        </li>
        <li>
            <%= form_with url: search_post_images_path,class: "d-flex", method: :get, local: true do |f| %>
            <%= f.text_field :keyword ,class:"form-control me-2", type:"search"%>
            <%= f.submit :search,class:"btn btn-outline-success",type:"submit" %>
            <% end %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "ログイン",new_user_session_path %>
        </li>
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
          
        </li>
        <li >
          
        </li>
      </ul>
      
      
    </div>
  </div>
</nav>
          <%= link_to "ログイン",new_user_session_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <%= link_to "NOTICE", notifications_path, class: "btn-default" %>
     <main>
     <%= yield %>
   </main>

  </body>
</html>
